.about-container {

    h1,
    h2 {
        padding: 1.2rem 0rem;
    }

    p {
        padding-bottom: 0.5rem;
    }
}

.about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media(min-width: $breakpoint-about-info) {
        flex-direction: row;
        padding-bottom: 3rem;
    }

    img {
        max-width: 300px;
        border-radius: 20px;
        overflow: hidden;
        max-height: 400px;
        object-fit: cover;
        padding: 0;
    }

    div {
        max-width: 800px;
        padding: 1.5rem;
    }
}

.projects {
    h2 {
        text-align: center;
        font-size: 2rem;
        color: $primary-color;
        padding-bottom: 1.5rem;
    }
}

.projects-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $secondary-color;
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 1rem;

    .project-desktop-title {
        display: none;
    }

    div {
        z-index: 1;
    }

    @media(min-width: $breakpoint) {

        .project-mobile-title {
            display: none;
        }

        .project-desktop-title {
            display: flex;
        }

        p {
            color: $background-color;
            background-color: $secondary-color;
            padding: 1.5rem;
            margin-bottom: 1rem;
        }
    }

    img {
        max-width: 100%;

        @media(min-width: $breakpoint) {
            max-width: 50%;
        }
    }

}

.projects-info-rigth {
    @media(min-width: $breakpoint) {
        flex-direction: row !important;

        p {
            margin-left: -50px;
        }

        h3 {
            text-align: right;
        }
    }
}

.projects-info-left {
    @media(min-width: $breakpoint) {
        flex-direction: row-reverse !important;

        p {
            margin-right: -50px;
        }

        h3 {
            text-align: left;
            width: unset;
        }
    }
}

.about-list-skills {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;

    li {
        border: solid 0.5px rgb(220, 213, 213);
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;
    }
}

.external-link {
    margin-left: 0.5rem;
    height: 15px;
    width: 15px;
    padding-bottom: 0;
}

.project-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1rem;

}