.contact-container {
    display: flex;
    flex-direction: column;

    @media(min-width: $breakpoint) {
        justify-content: center;
        align-items: center;
    }

    div {
        max-width: 600px;
    }

    p {
        padding: 1.5rem 0;
    }
}