* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

section {
    // margin: 2rem;
    margin: 0 2rem 2rem;
    flex: 1;
}

img {
    padding-bottom: 1rem;
}

h3 {
    width: 100%;
}


p {
    color: $primary-color
}

.link-button {
    border: 1px solid white;
    border-radius: 2px;
    transition: 0.4s;
    padding: 0.5rem;
}

.link-button:hover {
    background-color: whitesmoke;
    color: $background-color;
    box-shadow: 1px 1px 1px 0 rgba(196, 193, 193, 0.94), 2px 2px 2px 0 rgba(196, 193, 193, 0.54)
}


.container {
    flex: 1;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}