.footer-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    list-style-type: none;
    max-width: 300px;
    
    li:not(:last-child) {
        margin-right: 3rem;
      }
    li{
     
        animation-name: shake;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
    }
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
}