.landing-home {
    max-width: 800px;
    h1 {
        font-size: 1rem;
        color: $secondary-color;
    }

    h2 {
        font-size: 2.5rem;
        padding: 0.4rem 0;
        color: $primary-color;
    }

    h3 {
        font-size: 1.7rem;
        color: $secondary-color
    }

    p {
        padding: 0.5rem 0 2rem;
    }
}

.landing-section {
    display: flex;
    justify-content: center;
    @media(min-width: $breakpoint) {
        margin-top: 10rem; 
    } 
}

.landing-info {
    h1 {
        text-align: left;
        margin-bottom: 0.5rem;
        font-size: 1.4rem;
        font-weight: 700;
    }


    p {
        text-align: left;
        padding: 0.5rem;
    }

}


.landing-list-tech {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    list-style-type: none;
}



.project-info {
    h1 {
        text-align: left;
        margin-bottom: 0.5rem;
        font-size: 1.4rem;
        font-weight: 700;
    }


    p {
        text-align: left;
        padding: 0.5rem;
    }

}